.modal-background {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  width: 50%;
  height: 50%;
  border-radius: 20px;
}
