// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// font-family
// $font-stack: url(../../assets/Font/);

// colors
$primary-black: #323232;
$primary-blue: #0095ff;
$primary-silver: #afafaf;
$primary-white: #ffffff;

$secondary-black: #000000;
$secondary-blue: #0065ad;
$secondary-mercury: #e1e1e1;
$secondary-alabaster: #fafafa;
