.song-gallery {
  display: flex;
  border: 1px dashed blue;
  border-top: none;
  margin: 0 2rem;
  padding: 2rem 0;
}

.songs {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  width: 100%;
}

.song {
  border-radius: 20px;
  box-shadow: 0px 0px 15px -5px blue;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    height: 19rem;
    box-shadow: 2px solid black;
  }

  &__img {
    border-radius: 20px 20px 0 0;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
  }

  &__title {
    margin-top: 1rem;
  }
}
