@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

// body {
//   color: black;
// }
.song-gallery {
  display: flex;
  border-top: none;

  // background-color: navy;

  @include desktop {
    width: auto;
  }
}

.gallery-left {
  width: 25%;
  border-right: 1px dashed cyan;
  border-bottom: 1px dashed cyan;
}
.gallery-right {
  width: 25%;
  border-left: 1px dashed cyan;
  border-bottom: 1px dashed cyan;
}

.songs {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  background: linear-gradient(to right, black, rgb(0, 0, 95));
  width: 125rem;
  border-bottom: 1px dashed cyan;
  padding: 2.5rem;
}

.song {
  border-radius: 20px;
  box-shadow: 0px 0px 150px 25px blue;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    height: 19rem;
    box-shadow: 2px solid black;
    // if button
    padding: 0;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 15px; // 1.5rem
    cursor: pointer;

    @include desktop {
      height: 23rem;
    }
  }

  &__img {
    border-radius: 20px 20px 0 0;
    width: 15rem;
    min-height: 15rem;
    object-fit: cover;

    @include desktop {
      width: 20rem;
      min-height: 20rem;
    }
  }

  &__title {
    margin-top: 1rem;
  }
}
